hello.egg-info/dependency_links.txt
hello.egg-info/PKG-INFO
hello.egg-info/SOURCES.txt
hello.egg-info/top_level.txt
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
build/bdist.win-amd64/msi/Lib/site-packages/hello/hello.py
build/bdist.win-amd64/msi/Lib/site-packages/hello-1.0_-py3.7.egg-info/dependency_links.txt
build/bdist.win-amd64/msi/Lib/site-packages/hello-1.0_-py3.7.egg-info/PKG-INFO
build/bdist.win-amd64/msi/Lib/site-packages/hello-1.0_-py3.7.egg-info/SOURCES.txt
build/bdist.win-amd64/msi/Lib/site-packages/hello-1.0_-py3.7.egg-info/top_level.txt
build/lib/hello/hello.py
dist/hello-1.0-.tar.gz
.vscode/settings.json
